@import url(../fonts.css);


body {
    font-family: "Cera Pro";
}

a {
    text-decoration: none;
}

.wrapper {
    max-width: 860px;
    margin: 0 auto;
    padding: 0 10px;

}

header {
    flex-wrap: wrap;
    max-width: 100%;
    display: flex;
    margin-top: 10px;
    font-size: 15px;
    justify-content: space-between;
    margin-bottom: 31px;
    color: #3D3D3D;
}

menu a {

    color: #3D3D3D;
}

main {
    max-width: 100%;
    display: flex;
    justify-content: center;
    gap: 33px;
    flex-wrap: wrap;

}


.container-block {
    max-width: 258px;
    position: relative;
}

.container-block-3 .green-label {
    display: block;
    font-size: 400;
}

menu {
    display: flex;
    gap: 30px;

}


.menu-button.active {
    color: #46A358;



}

.menu-buttons {
    position: relative;
    font-size: 15px;
    font-weight: 700;
    line-height: 16px;
    color: #46A358;
    border-bottom: #46A358;


}

.categories {
    display: flex;


}

.img-wrapper {
    width: 258px;
    height: 300px;
    background-color: #ffff;
    padding-top: 25px;
    margin-bottom: 12px;
    position: relative;
    text-align: center;

}

.quick-buttons {
    display: flex;
    padding: 8px 6px 8px;
    position: absolute;
    z-index: 1;
    transform: translateX(-50%);
    left: 50%;
    display: none;
    gap: 18px;
    bottom: 8px;
}

.container-block::before {
    content: "";
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 0px;
    z-index: 1;

}

.container-block-2:hover .quick-buttons {
    display: flex
}

.container-block-2:hover::before {
    background-color: #46A358;

}

.quick-buttons button {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: none;

}



.container-title {
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    color: rgba(61, 61, 61, 1);
    margin-bottom: 6px;
}

.price {
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
    text-align: left;
    color: #46A358;
    margin-right: 16px;
}

.discount-price {
    text-decoration: line-through;
    color: #CBCBCB;
    font-size: 18px;
    font-weight: 400;
    line-height: 16px;

}

.green-label span {
    color: white;

}

.green-label {
    display: none;
    text-align: center;
    background-color: #46A358;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    position: absolute;
    padding: 8px 10px;
    top: 15px;
    font-family: inherit;
}

.sorting img {

    width: 16px;
    height: 16px;
}

.sorting {
    display: flex;
    gap: 6px
}