@font-face {

    font-family: 'Cera Pro';
    src: local('CeraPro-Regular'),
        url('../Lesson-6/fonts/CeraPro-Regular.woff2') format(woff2),
        url('../Lesson-6/fonts/CeraPro-Regular.ttf') format(trutype);
    font-weight: 400;
    font-size: normal;
}

    
    @font-face {
     font-family: 'Cera Pro';
    src: local('CeraPro-Bold'),
        url('../Lesson-6/fonts/CeraPro-Bold.woff2') format(woff2),
        url('../Lesson-6/fonts/CeraPro-Bold.ttf') format(trutype);
    font-weight: 700;
    font-size: normal;

}