.header {

    font-size: 0;


}

.bar {
    font-size: 14px;
    padding: 10px;
    border: 5px solid white;
    display: inline-block;
}

.logo {
    width: 150px;
    height: 34.3px;
    font-size: 16px;
    color: #4CAF50;
    font-weight: 700;
    padding-left: 40px;

}

.menu {
    width: calc(100% - 250px);
    text-align: center;
}

.login {
    width: 100px;
    font-weight: normal;

}

nav a {
    margin: 0 25px;
    text-decoration: none;
    color: inherit;
}

nav a.active {
    text-decoration: underline;
    text-decoration-color: #4CAF50;
    text-underline-offset: 10px;
}

.section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    text-align: center;
    background-color: #f9f9f9;
}


.left-side,
.right-side {
    font-size: 30px;
    height: 100%;
    vertical-align: top;

}

.right-side {
    width: 500px;
    background: #F5F5F5
}

.left-side {
    width: calc(100% - 500px);
    background: #F5F5F5;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 45px;


}

.left-side h1 {
    font: size 70px;
    color: #333;
    font-weight: bold;
    text-align: left;

}

.left-side p {
    font-size: 14px;
    color: #666;
    margin: 10px 0;
    font-weight: lighter;
    width: 500px;
    line-height: 1.6;
}

.section {


    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    text-align: center;
    background-color: #ffffff;

}


.shop-button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    position: relative;
    top: 40px;


}

.plant-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
}

.big-plant {
    max-width: 95%;
    height: auto;
    position: absolute;
}

.small-plant {
    width: 135px;
    height: 135px;
    position: absolute;
    bottom: 17px;
    right: 317px;

}